html {
  color-scheme: dark light;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.container {
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 1.5rem;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

label {
  display: flex;
  font-size: 1.2rem;
  font-family: sans-serif;
  font-size: 1rem;
  padding-right: 10px;
}

form input {
  display: inline-block;
  border: 1px solid #007acc9a;
  border-radius: 5px;
  margin: 0 0 20px;
  padding: 10px 20px;
  width: 100%;
  font-size: 1.2rem;
}

.botao {
  margin-top: 1rem;
  padding: 1rem;
  font-weight: 700;
  background: #007acc;
  opacity: 1;
  color: #f0f0f0;
  border: none;
  font-size: 1.2rem;
}

.botao__disabled {
  opacity: 0.5;
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
}

.valor {
  margin-right: 1rem;
}

.select {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_dec {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2rem;
  margin: 1rem;
  text-align: justify;
}

.opcoes {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.container_dec {
  display: none;
}

.assinatura {
  margin-top: 2rem;
}

.abono {
  margin-top: 2rem;
}

@media print {
  .container_dec {
    display: block;
  }
  .container {
    display: none;
  }
  @page{
    size: auto;
  }
}
